.Body {
  height: 770px;
  
  top  : 310px;
  left : 0px;
  right: 0px;
  
  position    : absolute;
  margin-left : auto;
  margin-right: auto;

  background      : #D3D3D3;
  background-image: url("../images/gainsboro_back_empty.png");
}

#bodyLeft {
  width:  588px;
  height: 760px;

  top:   5px;
  left:  0px;
  right: 0px;

  background: #FFE5B4;
 
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}

#body_background_left_top{
  width:  100px;
  height: 100px;

  top  : 5px;
  left : 5px;
  right: 0px;

  background-image: url("../images/backgrounds/traffaret1_top.png");
  background-size: 100px 100px;


  position:     relative;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}

#body_background_left_bottom{
  width:  100px;
  height: 100px;

  top  : 555px;
  left : 5px;
  right: 0px;

  background-image: url("../images/backgrounds/traffaret1.png");
  background-size: 100px 100px;

  position:     relative;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}

#body_background_right_top{
  width:  100px;
  height: 100px;

  top  : 5px;
  left : 480px;
  right: 0px;

  background-image: url("../images/backgrounds/traffaret1_right_top.png");
  background-size: 100px 100px;


  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}

#body_background_right_bottom{
  width:  100px;
  height: 100px;

  top  : 655px;
  left : 480px;
  right: 0px;

  background-image: url("../images/backgrounds/traffaret1_right_bottom.png");
  background-size: 100px 100px;

  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}



#bodyRight {
  width:  588px;
  height: 760px;

  top:   5px;
  left:  592px;
  right: 0px;

  background: #FFE5B4;
  
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;
}

#body_title {
  width:  500px;
  height: 160px;

  top:   70px;
  left:  20px;
  right: 0px;
  
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;

}

#body_title img {
  width:  500px;
}

#body_title_image {
  width:  500px;
  height: 400px;

  top:   300px;
  left : 30px;
  right: 0px;
  
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;

}

#body_title_image img {
  width:  500px;
}

#about_us {
  width:  550px;
  height: 550px;

  top:   40px;
  left:  0px;
  right: 0px;

  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;

}

#about_us p {
  color:         #6c0804;
  text-align:    justify;
  	
  padding-top:   10px ;
  padding-left:  40px;
  padding-right: 30px;
	
  font-size:    1.17em;
  text-indent:  15px;
}
