/* CSS footer */

.Footer {
  height: 190px;
  
  top  : 1080px;
  left : 0px;
  right: 0px;
  
  position    : absolute;
  margin-left : auto;
  margin-right: auto;

  background      : #8B0000;
  background-image: url("../images/red_back_empty.png");
}

#Footer_logo {
  width:  150px;
  height: 180px;

  top:   30px;
  left:  30px;
  right: 0px;
  
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;

}

#Footer_logo img {
  width:  110px;
}


#Footer_contacts {
  width:  260px;
  height: 180px;

  top:   30px;
  left:  160px;
  right: 0px;
  
  position:     absolute;
  margin-left:  auto;
  margin-right: auto;

  margin:  0px;
  padding: 0px;

}

#Footer_contacts img {
  width:  200px;
}
